.menuWrapper{
  background-color: #363C3C;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 10px 20px;
}

.search{
  border-radius: 6px;
  width: 320px;
  padding-left: 21px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 14px;
  margin-left: 10px;
}

.icon{
  height: 40px;
  margin-right: 10px;
}
