.menuWrapper{
  height:100px;
  background-color: #363C3C;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search{
  margin-right:40px;
  border-radius: 10px;
  height:60px;
  width:320px;
  padding-left: 21px;
}

.icon{
  margin-left: 30px;
}
