.shades {
  display: flex;
  padding: 0px 15px 20px 40px;
}

.shades .colorItem {
  width: 210px;
  height: 150px;
  margin-right: 30px;
}


.detailContainer {
  flex-grow: 1;
}

.detailContainer {
  width: calc(100vw - 320px);
}

.detailContainer .primaryColorItem .label {
  padding: 30px;
  font-size: 24px;
  border-top: 2px solid rgb(120,120,120);
}

.primaryColorItem > .colorItem {
  height: 300px;
  width: 100%;
}

.primaryColorItem {
  padding: 40px;
}

.detailContainer button {
  margin-top: 30px;
  width: 200px;
  padding: 10px;
  font-size: 18px;
  border: 1px solid rgb(80,80,80);
  border-radius: 8px;
  background-color: white;
  color: rgb(80,80,80);
}

.detailContainer button:hover {
  background-color: #363C3C;
  color: rgb(220,220, 220);
  cursor: pointer;
}
