.colorItem {
  position: relative;
  -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
          box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
  border-radius: 8px;
  overflow: hidden;
  animation-duration: 1s;
  opacity: 0;
  animation-name: fadein;
  animation-fill-mode: forwards;
  animation-delay: 300ms;
}

.colorItem:hover {
  box-shadow: 0px 1px 5px 1px rgb(100,100,100);
  cursor: pointer;
  transform: scale(1.05, 1.05);
  transition: transform 600ms;
}

.colorItem .label {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  padding: 10px 20px;
  background-color: #fff;
  color: rgb(80,80,80);
}


@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
